.card {
  background-color: #dedede;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px; 
  width: fit-content;
  box-sizing: border-box;
}

.resultsList {
  display: flex;
  flex-direction: column; /* Stacks cards vertically */
  gap: 10px; /* Adds space between each card */
  max-height: 80vh; /* Adjust as necessary */
  overflow-y: auto; /* Enables scrolling if there are many cards */
  width: fit-content;
}

.GM-button {
  background-color: #e69412; /* Google Maps marker color */
}

.GM-button:hover {
  background-color: #bb7300; /* Darken slightly for hover effect */
}